<div class="app-div">
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">
    <h1 class="title">WELCOME WEATHER APPLICATION</h1>
  </mat-toolbar>

  <h1  class="place-holder">Please select a city</h1>
  <div class="example-dropdown-row">
    <select class="example-dropdown-select" id="DropdownOptions" [ngModel]="selectedCity"
      (ngModelChange)="onChange($event)" name="cityText">
      <option [value]="opt" *ngFor="let opt of ngOptions">{{opt}}</option>
    </select>
  </div>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="sendRequest()">Find Weather</button>
  </div>

  <div class="container">
    <table *ngIf="show">
      <tr>
        <td>Longitude</td>
        <td>{{cityLon}}</td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td>{{cityLat}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{countryName}}</td>
      </tr>
      <tr>
        <td>City Name</td>
        <td>{{cityName}}</td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td>{{temperature}}</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>{{pressure}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{time}}</td>
      </tr>

    </table>

  </div>




</div>